@import url('./colors/colors.css');

* {
  box-sizing: border-box;
}

div {
  width: 100%;
}

body {
  margin: 0 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX('50%');
  transform: translateY('50%');
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.loading-container {
  position: relative;
  width: 100%;
  height: 50vh;
}

header {
  display: flex;
  flex-direction: column;
  background-color: var(--header-bg-color);
  padding: 1rem;
}

header * {
  color: white;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.theme-container {
  float: right;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


input {
  color: black;
  background-color: var(--input-bg-color);
  width: 100%;
  border-radius: 12px;
  border: none;
  padding: 0.5rem;
}

.search-place {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.visible {
  display: initial;
}

.hidden {
  display: none !important;
}

main {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.cards-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  height: 20vh;
  overflow-x: scroll;
}

.day-card {
  width: 30vw;
  height: min-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-font-color);
  background-color: var(--box-bg-color);
}



/*    */
/**/
/*    */

.relative {
  position: relative;;
}

.search-container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 20px;
  z-index: 1;
  right: 0;
  left: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
}

.search-container li {
  color: black;
  border-bottom: 1px solid #b7b5b5;
  background-color: white;
  text-align: center;
}

.fill-bottom-rad {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-container li:last-child {
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header-overlay {
  width: 100%;
  min-width: 800px;
  height: 120px;
  background-color: lightgrey;
  position: absolute;
}

.box {
  background-color: var(--box-bg-color);
  padding-left: 1rem;
}

h2 {
  color: var(--main-font-color);
}

/* 


*/
.animate {
  opacity: 1;
  animation: slider 1s linear;
  animation-iteration-count: 1;
}

.animate-out {
  opacity: 1;
  animation: slider 2s linear;
  animation-iteration-count: 1;
}

@keyframes slider {
  0% {
    opacity: 0;
  }
  100% {
 
    opacity: 1;
  } 
}

#card {
  background: #1f1f1f;
  margin: 10px;
  display: block;
  border: 1px dashed white;
  height: 200px;
  width: 200px;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
