#root {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

header {
  width: 30vw;
}
main {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  width: 70vw;
  gap: 1vw;
}

.box {
  width: 30vw;
}